---
import {Image} from 'astro:assets';
import {services} from "../data/services.js";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import heroImage from '../assets/services-hero.webp';
---
<Layout>
    <Hero image={heroImage}>
        <div class="w-full md:w-1/2 mx-auto text-white text-center px-4 md:px-0">
            <div class="font-semibold text-2xl md:text-4xl mb-5">It’s Not Just Insurance</div>
            <div class="text-lg md:text-2xl">
                The true meaning and value of our work is in providing our clients, their families, and colleagues with
                the tools for economic security, quality of life, and priceless peace of mind.
            </div>
        </div>
    </Hero>
    <section class="mb-6">
        {services.map((service, index) => (
                <div class={index % 2 === 0 ? "section-bg-light" : ""}
                     id={service.link}>
                    <div class="w-full md:w-1/2 mx-auto py-10 px-4 md:px-0">
                        <div class="title-color text-3xl md:text-6xl text-center">
                            {service.title}
                        </div>
                        <div class="my-10 flex justify-center">
                            <Image src={service.image} alt={`${service.title} image`}
                                   class="w-full h-auto object-cover rounded-xl"/>
                        </div>
                        <div class="italic mb-10 title-color text-xl md:text-4xl">
                            {service.subtitle}
                        </div>
                        <div class="text-base md:text-xl mb-10">
                            {service.full_description}
                        </div>
                    </div>
                </div>
        ))}
    </section>
</Layout>
